body {
	margin: 0px;
}

.intro {
	background-image: url('background.jpg');
	background-position: 50% 50%;
	background-size: cover;
	padding-top: 100vh;
	z-index: 0;
}

.greeting {
	float: left;
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 1000;
}

.greeting-text-name {
	color: white;
	font-family: "Georgia";
	font-size: 60px;
}

.greeting-text-info {
	color: white;
	font-family: "Georgia";
}


.portfolio {
	background-color: #202020;
	height: 800px;
}

.portfolio-heading {
	color: white;
	font-family: "Georgia";
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 50px;
}



.projects {
	text-align: center;
}

.project-item {
	display: inline-block;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.project-link {
	display: block;
	margin: 0 auto;
}

.project-image {
    width: 400px;
    height: 300px;
}

.project-caption {
	background-color: #303030;
	max-width: 400px;
	margin: 0 auto;
	color: white;
	padding: 10px;

}

.project-caption-heading {

}