body {
	margin: 0px;
}

.section-heading {
	font-family: "Georgia";
	font-weight: bold;

	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 50px;
}

/*INTODUCTION*/

.dr-menu {
	position: fixed;
	z-index: 1000;
	background-color: black;
	width: 100%;
	height: 50px;
}





.intro {
	background-image: url('background.jpg');
	background-position: 50% 50%;
	background-size: cover;
	padding-top: 100vh;
	z-index: 0;
}

.greeting {
	float: left;
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 1000;
}

.greeting-text-name {
	color: white;
	font-family: "Georgia";
	font-size: 60px;
}

.greeting-text-info {
	color: white;
	font-family: "Georgia";
}

/*PORTFOLIO*/

.portfolio {
	background-color: #202020;

}

.portfolio-heading {
	color: white;
}

.projects {
	text-align: center;
}

.project-item {
	display: inline-block;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

.project-link {
	display: block;
	margin: 0 auto;
}

.project-image {
    width: 400px;
    height: 300px;
}

.project-caption {
	background-color: #303030;
	max-width: 400px;
	margin: 0 auto;
	color: white;
	padding: 10px;

}

.project-caption-heading {

}

/* CONTACT */

.contact {
	background-color: #f39c12;
}

.contact-form {
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.contact-heading {
}

.contact-input {
	background-color: #da8b0b;
	border: none;
	padding: 5px;
	color: black;
	outline: none;
	width: 100%;
}

.contact-input::-webkit-input-placeholder { 
    color: #686868  ;
}

.contact-submit {
	width: 100%;
}